.track-vertical {
	background-color: $color7;
    position: absolute;
    width: 16px;
    right: 0px;
    bottom: 2px;
    top: 0px;
    border-left: 1px solid $color1;
}

.thumb-vertical {
	border-radius: 10px;
	background-color: $color8;
	width:9px;
	height: 32px;
	margin: auto;
	cursor: pointer;
}

.scrollbar-view {
	margin-right: -16px;
}


